type: "object"
properties:
  url:
    title: "Exchange Server URL"
    type: "string"
    minLength: 1
  domain:
    title: "Domain"
    type: "string"
    minLength: 0
  username:
    title: "Username"
    type: "string"
    minLength: 1
  password:
    title: "Password"
    type: "string"
    minLength: 1
